* {
    font-family: "Poppins", "sans-serif";
    font-weight: bold!important;
    outline: none!important;
}

body {
    /* background-color: #212121!important; */
    /* color: #fff!important; */
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    row-gap: 3em!important;
    padding: 2em 1em;
    margin: 0em;
    width: 100vw;
    height: 100vh;
}

i, a, p, h1, h2, h3, h4, h5, h6{
    margin: 0em!important;
}

.drop-down {
    background-color: #fff;
    color: #212121;
    border: 0px;
    padding: 0em;
    margin: 0em;
}

.dropdown-menu.show{
    background-color: #fff;
    color: #212121;
    border: 1px solid #212121;
}

.drop-down-options {
    /* background-color: #fff; */
    color: #212121;
    border: 0px;
}

.list{
    width: 8em;
    margin: 0em;
    display: inline-block;
    margin-left: 1em;
}


a , .list>a {
    color: #212121;
    text-decoration: none!important;
    margin: 0.3em!important ;
}

.icon{
    margin-right: 0.5em!important;
}

row {
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
    align-items: center;
    padding: 0.5em;
    column-gap: 1em;
}

column, form {
    display: flex;
    justify-content: center;
    /* justify-content: right; */
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
    row-gap: 1em;
    width: 100%;
}

.button {
    color: #fff;
    background-color: #212121;
    width: 5em;
    height: 2.5em;
    border: 0px;
    border-radius: 15px;
    font-size: 1em;
    margin-left: auto;
}

.button:active {
    background-color: #313131;
}

.center {
    width: 100%;
    text-align: center;
}

form{
    align-items: start;
    padding: 0em 2em;
}

.input{
    padding: 1em;
    border: none;
    border-radius: 10px;
    width: 10em;
    height: 3em;
    color: #212121;
    background-color: #fff;
    width: 90%;
}

::placeholder{
    color: #aaa;
}

#text, .text{
    height: 6em!important;
}

#text::-moz-scrollbar {
    width: 4px;
    border-radius: 10px;
    background-color: #fff;
}

#text::-moz-scrollbar-thumb {
    width: 4px!important;
    border-radius: 10px;
    /* -webkit-box-shadow: inset 0 0 6px #212121; */
    background-color: #212121;
    border:none;
}

#text::-moz-scrollbar-track {
    background-color: #fff;
    border:none;
}

#text::-webkit-scrollbar-track {
    background-color: #fff;
    border:none;
}

#text::-webkit-scrollbar {
    width: 4px;
    border-radius: 10px;
    background-color: #fff;
}

#text::-webkit-scrollbar-thumb {
    width: 4px!important;
    border-radius: 10px;
    /* -webkit-box-shadow: inset 0 0 6px #212121; */
    background-color: #212121;
    border:none;
}

.space-around{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5em;
    padding: 0em;
}

.result{
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
    width: 100%;
    /* border: 2px solid #212121;
    padding: 1em 0em; */
}

.post{
    display: flex;
    justify-content: space-between;
    /* justify-content: right; */
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
    row-gap: 1em;
    width: 15em!important;
    border: 2px dashed #212121;
}

.result>.post>p{
    font-size: 0.9em;
    width: 100%;
    text-align: left;
}

.result>.post>row{
    padding: 0em;
    column-gap: 0.5em;
}

.regards{
    font-size: 0.7em;
}

.scroll{
   overflow-y: hidden;
   overflow-x: auto;
}

.scroll::-moz-scrollbar {
    display: none;
}

.scroll::-webkit-scrollbar {
    display: none;
}